dn: uid={{ user.uid }},ou={{ user.ou }},{{ pillar['ldap']['base_dn'] }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
cn: {{ user.cn }}
sn: {{ user.sn }}
givenName: {{ user.givenName }}
mail: {{ user.mail }}
uid: {{ user.uid }}
uidNumber: {{ 10000 + loop.index }}
gidNumber: 100
homeDirectory: /home/{{ user.uid }}
loginShell: {{ user.shell }}
userPassword: {CRYPT}x
