dn: uid={{ user.uid }},ou={{ user.ou }},{{ pillar['ldap']['base_dn'] }}
changetype: modify
replace: userPassword
userPassword: {{ user.get('password', '{CRYPT}x') }}
-
replace: shadowExpire
shadowExpire: 0
